@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: 2%
    width: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    left: -15%
    width: 35%
  &-3
    animation: girarYVolver 5s ease-in-out infinite
    position: absolute
    top: 50%
    right: 10%
    width: 25%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes girarYVolver
  0%
    transform: rotate(0deg)
  40%
    transform: rotate(360deg)
  60%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 50% 
  @media only screen and (min-width: 1024px)
    margin-left: -40px
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 29%

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   

.barra-avance__boton--regresar span 
  color: white !important

figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #18485C !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #0A222C
  background-color: #ACB8C6

.cen
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.bg1
  background-color: #E7F2FB

.bg2
  background-color:#18485C
  min-height: 415.79px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem
.bg22
  background-color:#18485C
  min-height: 354px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem
.bg222
  background-color:#18485C
  min-height: 378.21px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem
.bg2222
  background-color:#18485C
  min-height: 419.2px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem

.bg3
  background-color: #F9F7F0
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -3.3rem

.bg4
  background-color: #E7F2FB
  min-height: 194.5px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -3.3rem

.bg5
  background-color: #B6D7E2
  @media (min-width: 992px) 
    .mx-lg-2 
      margin-right: 1.5rem !important
      margin-left: 1.9rem !important
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem

.bg6
  background-color: #133949
  border-radius: 20px

.bg7
  background-color: #56CBF0
  border-radius: 20px

.bg8
  background-color: #B6D7E2










.fa-drop.gt3
  content: url('../assets/curso/tema2/gt3.svg')
  position: relative
  width: 1em  
  height: 1em 
  top: 0px !important

.fa-che.gt4
  content: url('../assets/curso/tema2/gt4.svg')
  position: relative
  width: 1em  
  height: 1em 
  top: 0px !important

.fa-check
  content: url('../assets/curso/tema1/gt.svg')
  position: relative
  width: 1em  
  height: 1em 
  top: 0px !important

.fa-che.gt2
  content: url('../assets/curso/tema2/gt2.svg')
  position: relative
  width: 1em  
  height: 1em 
  top: 0px !important

.tit
  background-color: #AFD4F1
  border-radius: 15px 50px  50px 50px 
  width: fit-content
  padding: 9px 30px 9px 70px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
.tit img
  width: 70px
  height: 70px
  position: absolute
  top: 70%
  left: -15px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 10%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

.sub
  background-color: #18485C
  border-radius: 15px 30px  0px 50px 
  width: fit-content
  padding: 9px 30px 9px 70px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
  &
    h4
      color: white
.sub img
  width: 50px
  height: 50px
  position: absolute
  top: 50%
  left: -15px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 10%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

.acordion__accion__btn--a
  background-color: #0A222C
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #AFD4F1
  h3
    color: black
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: white
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #0A222C
  i
    color: white !important
.activ
  .acordion__activo 
    background-color: #BBB0F6 !important
    transition: all 0.3s ease-out
    h3
      color: black 

.cajon.color-acento-botones
  background-color: #E7F2FB
  &:before 
    background-color:#0A222C

.color-acento-botones
  .tabs-a__tab
    padding: 12px 13px
    font-size: 16px  
    white-space: normal 
    line-height: 1.4
    min-height: 40px 
  @media (min-width: 1200px) 
    .col-xl-3
      flex: 0 0 auto
      width: 35%
    .col-xl-9
      flex: 0 0 auto
      width: 65%
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #B6D7E2
  color: black //para hover deja texto como se pide en activo
.color-a
  background-color: #BBB0F6
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #0A222C!important
  color: white !important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color:  #0A222C!important

.formula,
.formula1,
.formula2,
.formula3
  border: 3px solid #BBB0F6
  padding: 1.5rem 1rem
  margin: 1rem 0
  text-align: center
  overflow-x: auto
  math
    font-size: 1rem
.formula1
  background-color: white
.formula2
  border-color: #56CBF0
  background-color: #E7F2FB
.formula3
  border-color: #FFFFFF
  background-color: #AFD4F1
.recta mi
  text-transform: none
  font-style: normal

.img-infografica-b__modal 
  background-color: #BBB0F6
  border-radius: 20px
  animation: entrada-modal 0.2s ease-in-out forwards
  min-height: 357px !important
  &
    p, h4, * 
      color: $color-sistema-texto!important

.br
  border-bottom: 3px solid white

.bi
  border-left: 3px solid white

.cajon.color-primario
  background-color: #ACB8C6
  &:before 
    background-color:#0A222C











//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a
  thead 
    border-top: none
    color: white
    background-color: #18485C
  table
    width: 100%
    table-layout: auto
  th, td
    overflow-wrap: break-word
    white-space: normal
    vertical-align: top
    text-align: left
    border: none
  th
    padding: 16px 15px
    text-align: center
  td 
    padding: 15px 15px
  tbody td:first-child
    font-weight: bold
  tbody
    td
      border-left: 2.9px solid #AFAFAF
    td:first-child
      border-left: none
  &.tab1
    th:nth-child(1)
      width: 20%
    th:nth-child(2)
      width: 25%
    th:nth-child(3)
      width: 55%

  &.tab3
    th:nth-child(1)
      width: 18%
    th:nth-child(2)
      width: 22%
    th:nth-child(3)
      width: 30%
    th:nth-child(4)
      width: 30%


.bgr
  background-color: #F6F6F6


  
////////////////////////TABLAS PEQUEÑAS//////////////////////////////

.tabla-a.tabla-peq
  overflow-x: visible !important
  overflow: visible !important
  @media (max-width: 991px)
    overflow-x: auto !important
    -webkit-overflow-scrolling: touch !important
    display: block !important
  table
    min-width: auto !important
    width: 100% !important
    table-layout: auto !important
    @media (max-width: 991px)
      min-width: 500px !important 

.tabla-a.tabla-peq.tabla1
  thead 
    border-top: 4px solid #56CBF0
    color: white
    background-color: #6350C7
  tbody
    td
      border-left: none
    td:first-child
      border-left: none
  th, td
    border: 1px solid #E1E1E1
  table th
    padding: 12px 10px
  table td 
    padding: 10px 15px
  th:nth-child(1)
    width: 50%
  th:nth-child(2)
    width: 50%
.bgw
  background-color: white




