@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: 2%
    width: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    left: -15%
    width: 35%
  &-3
    animation: girarYVolver 5s ease-in-out infinite
    position: absolute
    top: 50%
    right: 10%
    width: 25%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes girarYVolver
  0%
    transform: rotate(0deg)
  40%
    transform: rotate(360deg)
  60%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 50% 
  @media only screen and (min-width: 1024px)
    margin-left: -40px
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 29%

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   

.barra-avance__boton--regresar span 
  color: white !important

figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #18485C !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #0A222C
  background-color: #ACB8C6

.cen
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.bg1
  background-color: #E7F2FB

.bg2
  background-color:#18485C
  min-height: 415.79px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem

.bg3
  background-color: #F9F7F0
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -3.3rem

.bg4
  background-color: #E7F2FB
  min-height: 194.5px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -3.3rem

.bg5
  background-color: #D5F6EB
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem












  


.fa-check
  content: url('../assets/curso/tema1/gt.svg')
  position: relative
  width: 1em  
  height: 1em 
  top: 0px !important

.tit
  background-color: #AFD4F1
  border-radius: 15px 50px  50px 50px 
  width: fit-content
  padding: 9px 30px 9px 70px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
.tit img
  width: 70px
  height: 70px
  position: absolute
  top: 70%
  left: -15px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 10%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

.acordion__accion__btn--a
  background-color: #0A222C
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #AFD4F1
  h3
    color: black
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: white
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #0A222C
  i
    color: white !important
.activ
  .acordion__activo 
    background-color: #BBB0F6 !important
    transition: all 0.3s ease-out
    h3
      color: black 
















//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a
  thead 
    border-top: none
    color: white
    background-color: #18485C
  table
    width: 100%
    table-layout: auto
  th, td
    overflow-wrap: break-word
    white-space: normal
    vertical-align: top
    text-align: left
    border: none
  th
    padding: 16px 15px
    text-align: center
  td 
    padding: 15px 15px
  tbody td:first-child
    font-weight: bold
  tbody
    td
      border-left: 2.9px solid #AFAFAF
    td:first-child
      border-left: none
.bgr
  background-color: #F6F6F6

  &.tab1
    th:nth-child(1)
      width: 20%
    th:nth-child(2)
      width: 25%
    th:nth-child(3)
      width: 55%



  // Tabla 2
  &.tab2
    th:nth-child(1)
      width: 30%
    th:nth-child(2)
      width: 40%
    th:nth-child(3)
      width: 30%



  // Tabla 3
  &.tab3
    th:nth-child(1)
      width: 25%
    th:nth-child(2)
      width: 25%
    th:nth-child(3)
      width: 25%
    th:nth-child(4)
      width: 25%







